In [29]:
import pandas as pd
from functools import reduce

# Merging

In [108]:
yr2010 = pd.read_csv("data/2010.csv", index_col=0)
yr2011 = pd.read_csv("data/2011.csv", index_col=0)
yr2012 = pd.read_csv("data/2012.csv", index_col=0)
yr2013 = pd.read_csv("data/2013.csv", index_col=0)
yr2014 = pd.read_csv("data/2014.csv", index_col=0)
yr2015 = pd.read_csv("data/2015.csv", index_col=0)
yr2016 = pd.read_csv("data/2016.csv", index_col=0)
yr2017 = pd.read_csv("data/2017.csv", index_col=0)
yr2018 = pd.read_csv("data/2018.csv", index_col=0)
yr2019 = pd.read_csv("data/2019.csv", index_col=0)

dfs = [yr2010,yr2011,yr2012,yr2013,yr2014,yr2015,yr2016,yr2017,yr2018,yr2019]
#Merge all the songs from each year together in one dataframe
all_top_songs = reduce(lambda  left,right: pd.merge(left,right,how='outer'), dfs)
#This creates a column with the values of the index
all_top_songs.reset_index(level=0, inplace=True)
all_top_songs = all_top_songs.rename(columns = {"index": "id"})
all_top_songs.head()

,id,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

# Data Cleaning

Clean the dataset to make sure the following columns are either integer or floats and not objects:
id, year, bpm, nrgy, dnce, db, live, val, dur, acous, spch, pop

In [65]:
all_top_songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         603 non-null    int64
 1   title      603 non-null    object
 2   artist     603 non-null    object
 3   top genre  603 non-null    object
 4   year       603 non-null    int64
 5   bpm        603 non-null    int64
 6   nrgy       603 non-null    int64
 7   dnce       603 non-null    int64
 8   dB         603 non-null    int64
 9   live       603 non-null    int64
 10  val        603 non-null    int64
 11  dur        603 non-null    int64
 12  acous      603 non-null    int64
 13  spch       603 non-null    int64
 14  pop        603 non-null    int64
dtypes: int64(12), object(3)
memory usage: 70.8+ KB

In [81]:
all_top_songs.head()

,id,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,0,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,1,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,2,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,3,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,4,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [107]:
#Use unique below to inspect  for unique values in different columns
# Variables to check out: id, year, bpm, nrgy, dnce, dB, live, val, dur, acous, spch, pop
#I checked out all the variables above and the last variable that I checked was 'pop'
all_top_songs['pop'].unique()

array([83, 82, 80, 79, 78, 77, 76, 73, 72, 71, 70, 69, 68, 66, 65, 64, 63,
       62, 61, 59, 58, 57, 56, 55, 52, 49, 33,  0, 81, 75, 74, 67, 60, 54,
       50, 46, 38, 31, 28, 27, 25,  7, 88, 85, 51, 45, 43, 42, 41, 36, 35,
       86, 44, 37, 30, 84, 47, 39, 34, 18, 53, 48, 29, 87, 99, 97, 96, 95,
       93, 92, 90], dtype=int64)

All of the variables that were requested to be checked out have integers values.

# Answers to Questions

**1) Question(Q): What is the most popular song in the database?
Answer(A): 'Memories' by Maroon 5.** I found this answer by sorting all the songs by their popularity(the 'pop' column).

In [100]:
all_top_songs.sort_values(by='pop',ascending=False).head(1)

,id,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
572,572,Memories,Maroon 5,pop,2019,91,32,76,-7,8,57,189,84,5,99

**2) Q: What artist has the most songs in the dataset?  A: Katy Perry**. I found this by grouping the dataset by the artist and then counting the number of songs produced by each artist. I then sorted the dataset by the artist which had the most unique rows or songs in the database.

In [104]:
all_top_songs.groupby(['artist']).count().sort_values(by='id', ascending=False).head(1)

,id,title,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
artist,,,,,,,,,,,,,,
Katy Perry,17,17,17,17,17,17,17,17,17,17,17,17,17,17

**3)Q: What is the most popular genre of music in the dataset? A: dance pop**. I found this by grouping the dataset by genre and then totaling and sorting by the popularity column for each genre.

In [106]:
all_top_songs.groupby(['top genre']).sum().sort_values(by='pop', ascending=False).head(1)

,id,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
top genre,,,,,,,,,,,,
dance pop,94295,658692,38745,23814,21573,-1707,6153,17889,73447,3523,2910,21047

**4)Q:Are there any songs in the dataset more than once? A: Yes, there are 19 songs that appear in the dataset at least twice.The list of song titles are below**. I found this by grouping the data by the song title and then sorting by the count of the id for each genre.

In [112]:
all_top_songs.groupby(['title']).count().sort_values(by='id', ascending=False).head(19)

,id,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
title,,,,,,,,,,,,,,
I Like It,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Written in the Stars (feat. Eric Turner),2,2,2,2,2,2,2,2,2,2,2,2,2,2
Kissing Strangers,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Just the Way You Are,2,2,2,2,2,2,2,2,2,2,2,2,2,2
We Are Never Ever Getting Back Together,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Hello,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Runnin' (Lose It All),2,2,2,2,2,2,2,2,2,2,2,2,2,2
Here,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Say Something,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Company,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Sugar,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Stitches,2,2,2,2,2,2,2,2,2,2,2,2,2,2
All I Ask,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Marry You,2,2,2,2,2,2,2,2,2,2,2,2,2,2
The Hills,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Love Yourself,2,2,2,2,2,2,2,2,2,2,2,2,2,2
A Little Party Never Killed Nobody (All We Got),2,2,2,2,2,2,2,2,2,2,2,2,2,2
Castle Walls (feat. Christina Aguilera),2,2,2,2,2,2,2,2,2,2,2,2,2,2
First Time,2,2,2,2,2,2,2,2,2,2,2,2,2,2

**5)Q: Is there a relationship between popularity and danceability? A: **